
/* COPYRIGHT Froo.com LTD 2016 - Frooition client:	210012*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito+Sans:ital,wght@0,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css';
/* Header Css */
.left-col, .right-col, .center-col {
  float: left;
  padding: 10px; }

div#leftpane.left-col, div#rightpane.right-col {
  width: 220px;
  padding: 10px; }

div#centerpane.center-col {
  width: 980px;
  padding: 10px; }

#background * {
  box-sizing: border-box; }

#header, #subheader, div.subheader, div.boxtitle, #froocredit, div.boxcontent, div.left-col, div.right-col, div.top-bar, div.footer, #more_items_content, #leftpane, #rightpane, #showcase ul, ul.tablinks, #largeimage, #design, #customhtml, #descriptiontitle, #ImageID {
  display: block; }

.hidden, .mobile_only {
  display: none;
  /* RESET FOR NO SUBS */ }

.frooition-container .header-wrapper, .frooition-container .subheader-wrapper, .frooition-container .left-col, .frooition-container .right-col, .frooition-container .creditlink, .frooition-container .footer-wrapper, .frooition-container .boxcontent, .frooition-container #showcase, .frooition-container #tab1, .frooition-container #descriptiontitle {
  display: block; }

.clear {
  clear: both; }

#background {
  font-size: 10px;
  background-color: #fff; }

.page {
  width: 100%;
  font-family: Arial, Arial, Helvetica, sans-serif;
  background: #fff;
  color: #111; }
  .page td, .page .g-std {
    font-family: Arial, Arial, Helvetica, sans-serif; }

.cols {
  background: none center center;
  display: flex; }

.col-wrapper {
  background: none center center; }

.accent {
  color: #be202e; }

div.row {
  width: 980px;
  margin: auto; }

h1, h2, h3, h4, h5, h6 {
  width: 100%;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif; }

.frooition-container .g-novisited a:visited {
  outline: none; }

.frooition-container a {
  text-decoration: none; }
  .frooition-container a:link {
    outline: none; }
  .frooition-container a:visited {
    outline: none; }
  .frooition-container a:active {
    outline: none; }
  .frooition-container a:hover {
    text-decoration: underline;
    outline: none; }

a.homelink {
  display: block;
  width: 140px;
  height: 145px;
  background: url("https://cdn.frooition.com/210012/files/shared_logo.jpg") no-repeat;
  position: absolute;
  bottom: 0px;
  left: 0px; }

.header-wrapper {
  background: none center bottom; }

div#header {
  float: none;
  position: relative;
  background: none center center;
  height: 170px;
  /* End Header */ }
  div#header ul.headerlinks {
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
    display: table;
    text-align: center; }
    div#header ul.headerlinks li {
      display: inline-block;
      margin: 0px 10px; }
    div#header ul.headerlinks li {
      display: inline-block;
      margin: 0px 10px;
      display: table-cell;
      vertical-align: middle;
      width: 104px;
      text-align: center; }
      div#header ul.headerlinks li a {
        color: #111;
        padding: 0px;
        font-family: Lato;
        text-transform: uppercase;
        font-weight: bold; }
        div#header ul.headerlinks li a:hover {
          color: #be202e;
          text-decoration: none; }

.subheader-wrapper {
  background: url("https://cdn.frooition.com/210012/files/background_subheader.jpg") center;
  border: none; }

.subheader {
  position: relative;
  z-index: 10;
  background: none;
  height: 132px; }

ul#nav li {
  display: none; }

.cols ul.categories, .cols .boxlinks {
  font-size: 1.1em;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  list-style: none; }
  .cols ul.categories ul {
    padding: 0px;
    margin: 0px;
    list-style: none; }
  .cols ul.categories li {
    padding: 0px;
    margin: 0px;
    display: block; }
  .cols ul.categories li a, .cols .boxlinks a {
    text-align: left;
    background: #fff;
    display: block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #000;
    text-decoration: none;
    padding: 5px;
    width: 100%;
    height: auto; }
    .cols ul.categories li a:hover, .cols .boxlinks a:hover {
      background: #be202e;
      color: #fff;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      text-decoration: none; }
    .cols ul.categories li:first-child, .cols .boxlinks:first-child {
      border-top: none; }
    .cols ul.categories li:first-child:hover, .cols .boxlinks:first-child:hover {
      border-top: none; }
  .cols a.sublink {
    padding: 5px 5px 5px 12px;
    color: #333;
    border: none;
    position: relative; }
    .cols a.sublink::after {
      content: "\f111";
      font-family: 'fontawesome';
      font-size: 5px;
      color: #333;
      position: absolute;
      left: 3px;
      top: 11px; }
    .cols a.sublink:hover {
      text-decoration: underline;
      color: #000;
      background: none;
      border: none; }
  .cols a.thirdlvl {
    padding: 5px 5px 5px 20px; }
    .cols a.thirdlvl::after {
      content: "-";
      font-size: 15px;
      color: #333;
      position: absolute;
      left: 11px;
      top: 4px; }

#shoppages.boxtitle {
  display: none; }

.right-col ul.brands li, .left-col ul.brands li {
  width: 100%;
  padding: 0px;
  margin: 0px; }
  .right-col ul.brands li img, .left-col ul.brands li img {
    max-width: 100%; }

#categories a {
  display: none; }

#more_items_base {
  clear: both; }

.right-col a.nspromoitem, .left-col a.nspromoitem {
  display: none;
  background-position: center center;
  width: auto;
  height: 200px;
  margin-bottom: 5px; }

.boxtitle, #descriptiontitle {
  margin: 10px 0px 0px 0px;
  padding: 8px 10px;
  background: none;
  color: #000;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif;
  font-size: 2.4em;
  font-weight: 700;
  height: auto;
  border-radius: 0px 0px 0px 0px; }

#categories .boxtitle, #helpful_links, .categories .boxtitle, .categories h2.boxtitle, .pages .boxtitle {
  background: none;
  color: #000; }

.boxcontent, .cols .search .searchform {
  padding: 5px;
  background: none;
  background-position: center bottom;
  color: #000;
  font-size: 1.1em;
  border-top: none;
  border-bottom: 0px solid #c6c6c6;
  border-left: 0px solid #c6c6c6;
  border-radius: 0px 0px 0px 0px;
  border-right: 0px solid #c6c6c6; }
  .boxcontent a:hover, .cols .search .searchform a:hover {
    color: #be202e;
    text-decoration: none; }

.boxcontent a {
  color: #000; }
  .boxcontent a a:hover {
    color: #be202e;
    text-decoration: none; }

.boxlinks {
  border: none; }

.boxbase {
  display: none; }

.cols .search form input.searchbox, .cols .search #search form input.searchbox {
  padding: 5px;
  height: 30px;
  border: 1px solid #c6c6c6;
  width: 100%;
  margin-bottom: 5px; }
  .cols .search form input.submitbox, .cols .search #search form input.submitbox {
    background: #000;
    border-radius: 0px;
    border: none;
    padding: 5px;
    height: 30px;
    width: auto;
    color: #fff;
    font-weight: bold;
    cursor: pointer; }
  .cols .search form input.submitbox:hover, .cols .search #search form input.submitbox:hover {
    background: #be202e; }

#showcase, .itemtitle, .item-details {
  display: block; }
  #showcase h3, .itemtitle h3, .item-details h3 {
    color: #000;
    font-family: Nunito Sans, Arial, Helvetica, sans-serif;
    font-size: 26px;
    margin: 10px 0px;
    line-height: 1.3em;
    font-family: Nunito Sans;
    font-weight: 900; }
  #showcase::after, .itemtitle::after, .item-details::after {
    clear: both;
    content: " "; }

.leftarrow, .rightarrow {
  display: none;
  height: 100%;
  top: 0px;
  width: 10%;
  position: absolute;
  z-index: 5;
  padding: 1%;
  cursor: pointer;
  opacity: 0.4; }
  .leftarrow:hover, .rightarrow:hover {
    opacity: 0.7; }
  .leftarrow span, .rightarrow span {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 35px;
    color: #eee;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5); }

.leftarrow {
  left: 15px;
  text-align: left; }
  .leftarrow span:before {
    content: "\f0a8";
    font-family: 'fontawesome'; }

.rightarrow {
  right: 15px;
  text-align: right; }
  .rightarrow span:before {
    content: "\f0a9";
    font-family: 'fontawesome'; }

.g_image:first-child .leftarrow {
  display: none; }

.rightarrow[data-next-image=""], .rightarrow[data-next-image="<!-- missing"] {
  display: none; }

.g_image .thumbimage li {
  border: 1px solid #ccc;
  width: 76px;
  height: 76px;
  margin-bottom: 5px;
  opacity: 1;
  position: relative;
  cursor: pointer;
  color: #fff;
  text-align: center;
  position: relative;
  display: block;
  padding: 1px;
  background: #fff; }
  .g_image .thumbimage li:hover {
    opacity: 0.7; }
  .g_image .thumbimage li img {
    max-width: 72px;
    max-height: 72px;
    width: auto;
    height: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

#gallery [type=radio]:checked ~ .thumbimage li {
  border: 1px solid #be202e; }

#gallery_outer_1, #gallery_outer_3 {
  position: relative;
  clear: both;
  margin: 0px 0px 20px 0px; }

.g_image [type=radio] {
  display: none; }

.mainimage {
  position: absolute;
  top: 0px;
  margin: 0px 0px 0px 0px;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  animation-name: lightboxout;
  animation-duration: 0.5s; }

@keyframes lightbox {
  from {
    opacity: 0;
    transform: scale(0); }

  to {
    opacity: 1;
    transform: scale(1); } }

@keyframes lightboxout {
  from {
    transform: scale(1.5); }

  to {
    background: rgba(0, 0, 0, 0);
    transform: scale(1); } }

#gallery [type=radio]:checked ~ .thumbimage {
  color: #fff;
  z-index: 1; }

#gallery [type=radio]:checked ~ .mainimage {
  opacity: 1;
  z-index: 2;
  padding: 0px 0px 0px 0px; }

#gallery_outer_1 .g_image[data=""] {
  display: none; }

#gallery [type=checkbox]:checked ~ .mainimage {
  right: 0px;
  z-index: 100;
  background: #fff; }

#gallery [type=checkbox]:checked ~ .mainimage img {
  display: block;
  margin: 0px auto; }

#gallery [type="checkbox"]:checked ~ .mainimage span {
  display: none; }

.mainimagecb {
  display: none; }

#gallery_outer_1, #gallery_outer_1 .mainimage, #gallery_outer_1 #gallery, #gallery_outer_1 .mainimage div {
  height: 484px;
  width: auto; }

#gallery_outer_1 .mainimage {
  left: 112px;
  min-width: 828px; }

#gallery_outer_1 #gallery {
  box-sizing: border-box;
  clear: both;
  overflow-y: auto;
  overflow-x: hidden;
  direction: rtl;
  padding: 0px 5px 0px 8px;
  margin: 0px; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #gallery_outer_1 #gallery {
    padding: 0px 0px 0px 15px; } }

@supports (-ms-accelerator:true) {
  #gallery_outer_1 #gallery {
    padding: 0px 0px 0px 10px; } }

#gallery_outer_1 div#gallery::-webkit-scrollbar {
  width: 8px;
  height: 20px; }

#gallery_outer_1 div#gallery::-webkit-scrollbar-button {
  background-color: #ccc; }

#gallery_outer_1 div#gallery::-webkit-scrollbar-track {
  background-color: #ccc; }

#gallery_outer_1 div#gallery::-webkit-scrollbar-track-piece {
  background-color: #ccc; }

#gallery_outer_1 div#gallery::-webkit-scrollbar-thumb {
  height: 90px;
  background-color: #be202e;
  border-radius: 3px; }

#gallery_outer_1 div#gallery::-webkit-scrollbar-corner {
  background-color: #f00; }

#gallery_outer_1 div#gallery::-webkit-resizer {
  background-color: #666; }

#gallery_outer_1 .g_image {
  float: Left;
  clear: both; }

#gallery_outer_1 .g_image .thumbimage {
  margin: 0px 0px 5px 0px; }

#gallery_outer_1 .mainimage img {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

#gallery_outer_2 .g_image {
  max-width: 100%;
  height: auto;
  text-align: center;
  padding: 5px 0px; }
  #gallery_outer_2 .g_image img {
    max-width: 100%; }
  #gallery_outer_2 .g_image[data=""] {
    display: none; }

#gallery_outer_3 {
  height: auto;
  width: 100%; }

#gallery_outer_3 .mainimage, #gallery_outer_3 .mainimage div {
  height: 500px;
  width: 100%; }

#gallery_outer_3 #gallery {
  height: auto;
  width: 100%;
  padding-top: 520px; }

#gallery_outer_3 .mainimage {
  left: 0px; }

#gallery_outer_3 #gallery {
  box-sizing: border-box;
  text-align: center; }

#gallery_outer_3 .g_image {
  display: inline-block;
  vertical-align: top;
  height: 76px;
  margin-bottom: 5px; }

#gallery_outer_3 .g_image .thumbimage {
  margin: 10px 3px; }
  #gallery_outer_3 .g_image .thumbimage li {
    margin-right: 3px; }

#gallery_outer_3 .mainimage img {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

#gallery_outer_3 #gallery [type=checkbox]:checked ~ .mainimage, #gallery_outer_1 #gallery [type=checkbox]:checked ~ .mainimage {
  animation-name: lightbox;
  animation-duration: 0.5s;
  padding: 0px;
  position: fixed;
  width: 100vw;
  left: 0px;
  right: 0px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); }
  #gallery_outer_3 #gallery [type=checkbox]:checked ~ .mainimage > div, #gallery_outer_1 #gallery [type=checkbox]:checked ~ .mainimage > div {
    background: #fff;
    position: static;
    position: relative;
    box-sizing: content-box;
    top: 0px;
    max-height: 80vh;
    width: 100%;
    height: auto;
    max-width: 60vw;
    margin: auto;
    margin-top: 10vh;
    padding: 10px;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.4);
    border-radius: 6px 6px 0px 0px; }
  #gallery_outer_3 #gallery [type=checkbox]:checked ~ .mainimage > div img, #gallery_outer_1 #gallery [type=checkbox]:checked ~ .mainimage > div img {
    max-height: 80vh;
    transform: none;
    top: auto; }
  #gallery_outer_3 #gallery [type=checkbox]:checked ~ .mainimage > div::after, #gallery_outer_1 #gallery [type=checkbox]:checked ~ .mainimage > div::after {
    background: #fff;
    border-radius: 0px 0px 6px 6px;
    color: #666;
    content: "Click to close";
    font-size: 16px;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }

#gallery_outer_3 .g_image[data=""], #gallery_outer_1 .g_image[data*="<!-- missing"], #gallery_outer_2 .g_image[data*="<!-- missing"], #gallery_outer_3 .g_image[data*="<!-- missing"] {
  display: none; }

.center-col .boxtitle, #descriptiontitle {
  background: none;
  color: #000;
  height: auto;
  font-size: 2.4em;
  margin-bottom: 0px !important;
  border-radius: 0px 0px 0px 0px;
  margin: 10px 0px 0px 0px;
  padding: 8px 10px;
  font-family: Nunito Sans, Arial, Helvetica, sans-serif; }

#description {
  clear: both;
  margin-bottom: 10px; }
  #description #descriptioncontent {
    padding: 10px;
    background: none;
    border: 0px solid #c6c6c6;
    border-top: none;
    font-size: 1.2em;
    font-family: Arial, Arial, Helvetica, sans-serif;
    border-radius: 0px 0px 0px 0px;
    color: #000; }
  #description #descriptioncontent ul {
    padding-left: 30px;
    margin: 12px 0px; }
  #description #descriptioncontent ul li {
    list-style: outside;
    display: list-item;
    margin: 0px; }
  #description #descriptioncontent a {
    color: #be202e !important;
    text-decoration: underline; }
  #description #descriptioncontent img {
    max-width: 100% !important;
    height: auto !important; }
  #description #descriptioncontent table {
    max-width: 100% !important; }
  #description #descriptioncontent .row {
    width: 100%; }

@keyframes tabOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

@keyframes tabIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

.tab_wrapper {
  background: none; }

div#tabs {
  margin: 10px auto;
  display: block; }
  div#tabs [type=radio] {
    display: none; }
  div#tabs label.mobile_tab {
    display: none; }
  div#tabs label li {
    font-size: 16px;
    font-family: Lato;
    border-radius: 0px 0px 0px 0px;
    display: block;
    float: left;
    cursor: pointer;
    width: 19.8%;
    text-align: center;
    background: #4d4d4d;
    padding: 10px 0px;
    margin-right: 1px;
    transition: all 0.5s;
    text-transform: uppercase; }
  div#tabs label li a {
    color: #fff;
    text-decoration: none; }
  div#tabs [type=radio]:checked + label li, div#tabs label li:hover {
    background: #be202e; }
  div#tabs [type=radio]:checked + label li a, div#tabs label li:hover a {
    color: #fff; }
  div#tabs #tab-1:checked ~ .content1, div#tabs #tab-2:checked ~ .content2, div#tabs #tab-3:checked ~ .content3, div#tabs #tab-4:checked ~ .content4, div#tabs #tab-5:checked ~ .content5 {
    display: block; }
  div#tabs #tab-1:checked ~ .content1 .tabcontent, div#tabs #tab-2:checked ~ .content2 .tabcontent, div#tabs #tab-3:checked ~ .content3 .tabcontent, div#tabs #tab-4:checked ~ .content4 .tabcontent, div#tabs #tab-5:checked ~ .content5 .tabcontent, div#tabs #tab-1:checked ~ .content1 h4, div#tabs #tab-2:checked ~ .content2 h4, div#tabs #tab-3:checked ~ .content3 h4, div#tabs #tab-4:checked ~ .content4 h4, div#tabs #tab-5:checked ~ .content5 h4 {
    animation-name: tabIn;
    animation-duration: 1.2s; }
  div#tabs .content {
    border-radius: 0px 0px 0px 0px;
    animation-duration: 0.5s;
    clear: both;
    padding: 10px;
    border: 1px solid #be202e;
    background: none;
    display: none; }
  div#tabs .content h4.tabtitle {
    display: none; }
  div#tabs .content .tabcontent {
    white-space: normal;
    padding: 0px;
    margin: 0px;
    font-size: 1.2em;
    display: block;
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: #000; }
  div#tabs .content .tabcontent a {
    color: #be202e;
    text-decoration: underline; }

div#tabs label li a {
  display: block;
  pointer-events: none;
  /*
#more_items {
	text-indent: -999em;
	position: relative;
}

#more_items::after {
	text-indent: 0;
	content: "ITEMS YOU MAY LIKE";
	position: absolute;
	display: block;
	top: 0px;
}
*/ }

#promobox a.nspromoitem {
  height: auto; }
  #promobox a.nspromoitem .froopromoimg {
    height: 126px; }
  #promobox a.nspromoitem .froopromoimg img.pimg {
    max-width: 134px;
    max-height: 126px; }
  #promobox a.nspromoitem .froopromotitle {
    color: #000;
    height: 54px;
    padding: 5px 0px 0px 0px;
    font-size: 11px;
    line-height: 12px;
    overflow: hidden; }
  #promobox a.nspromoitem .froopromoprice {
    color: #000;
    font-size: 18px;
    font-weight: 700; }

.center-col a.nspromoitem {
  display: none;
  background-position: center center;
  float: left;
  width: 23%;
  margin: 10px;
  margin: 1%;
  height: 200px; }

.center-col .brands li {
  display: block;
  float: left;
  margin: 0;
  overflow: hidden;
  width: 20%;
  padding: 4px 2px; }
  .center-col .brands li:first-child {
    padding-left: 0px; }
  .center-col .brands li:last-child {
    padding-right: 0px; }
  .center-col .brands li img {
    max-width: 100%; }
  .center-col .brands li:last-child::after {
    clear: both; }

#magento_gallery img {
  max-width: 100%; }

.m2e-gallery img {
  max-width: 100%; }

#magento_gallery_thumbs .gallery-column-view .gallery-thumbnail {
  width: 13%; }
  #magento_gallery_thumbs .gallery-thumbnail li {
    border: 1px solid #be202e; }
  #magento_gallery_thumbs .gallery-column-view .gallery-image {
    width: 86%; }
  #magento_gallery_thumbs .gallery-column-view .gallery-image img {
    max-width: 100%; }
  #magento_gallery_thumbs .m2e-gallery .preview-container.vertical {
    width: 13%;
    text-align: center; }
  #magento_gallery_thumbs .m2e-gallery .current.vertical {
    width: 86%;
    text-align: center; }

#background font {
  font-size: inherit; }

#background #descriptioncontent font {
  font-size: initial; }

div#footer.footer {
  background: url("https://cdn.frooition.com/210012/files/shared_footer.jpg") center top;
  color: #000;
  font-size: 1.2em;
  height: 130px !important;
  position: relative; }
  div#footer.footer ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: absolute;
    left: 160px;
    top: 50px; }
  div#footer.footer ul li {
    display: inline-block;
    margin: 0px 40px; }
  div#footer.footer ul li a {
    color: #000;
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 16px; }
    div#footer.footer ul li a:hover {
      color: #be202e;
      text-decoration: none; }

.footer-wrapper {
  background: none; }

.creditlink-wrapper .creditlink {
  padding-bottom: 3px;
  text-align: right;
  font-family: Arial;
  font-weight: normal;
  font-size: 11px; }
  .creditlink-wrapper .creditlink, .creditlink-wrapper .creditlink a strong, .creditlink-wrapper .creditlink a {
    color: #57585b;
    font-weight: normal;
    text-decoration: none; }
  .creditlink-wrapper .creditlink b, .creditlink-wrapper .creditlink a strong b, .creditlink-wrapper .creditlink a b {
    color: #be202e;
    font-weight: bold; }
  .creditlink-wrapper .creditlink, .creditlink-wrapper .creditlink div#design {
    display: block; }

div#design {
  display: block; }

#backup, #ns_copyright, #seo {
  display: none; }

.creditlink a, .creditlink a:link, .creditlink a:visited {
  color: #57585b;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif; }
  .creditlink a strong, .creditlink a:link strong, .creditlink a:visited strong {
    color: #be202e; }
  .creditlink a:hover, .creditlink a:link:hover, .creditlink a:visited:hover {
    color: #be202e;
    text-decoration: none; }

#background #design {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 10px; }
  #background #design div {
    width: 200px;
    margin: auto;
    height: 63px;
    overflow: hidden;
    text-indent: -400px;
    font-size: 0em;
    background-size: 100% auto;
    background-image: url('https://global.frooition.com/freedom/ebay_global/img/global_logo_2x.png'); }

.creditlink {
  font-size: 11px;
  text-align: right;
  margin-bottom: 5px !important;
  width: 980px;
  margin: auto; }

h3 {
  font-size: 26px;
  text-align: center; }

#shopnow {
  display: block;
  position: absolute;
  top: 20px;
  right: 0px;
  height: 26px;
  width: 173px;
  background: url("https://cdn.frooition.com/210012/files/shop_now.png"); }

#shopnow:hover {
  background: url("https://cdn.frooition.com/210012/files/shop_now_hov.png"); }

#descriptiontitle {
  font-size: 26px;
  text-align: center;
  border-bottom: 2px solid #eaeaea;
  margin-bottom: 15px !important; }

#cat-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 875px;
  background: #f8f8f8; }

#cat-title, #brand-title {
  text-align: center;
  font-size: 24px;
  padding: 30px 0px 12px; }

#brand-title {
  border-bottom: 2px solid #eaeaea;
  width: 960px;
  position: relative;
  margin: 20px auto; }

.cat-boxes {
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 960px;
  position: relative;
  margin: 0px auto; }
  .cat-boxes li {
    display: inline-block;
    margin: 0px 10px; }
  .cat-boxes .col-4, .cat-boxes .col-6, .cat-boxes .col-3, .cat-boxes .col-2 {
    float: left;
    position: relative; }
  .cat-boxes img {
    width: 100%; }
  .cat-boxes .col-4 {
    width: 308px;
    margin: 18px 18px 0px 0px; }
  .cat-boxes .col-4:nth-child(3), .cat-boxes .col-4:nth-child(6), .cat-boxes .col-4:nth-child(8) {
    margin-right: 0px; }
  .cat-boxes .col-4:nth-child(7), .cat-boxes .col-4:nth-child(8) {
    width: 470px; }
  .cat-boxes .col-4:hover {
    opacity: 0.7; }
  .cat-boxes .col-4:hover .boxlink {
    color: #be202e;
    opacity: 1 !important; }
  .cat-boxes .boxlink {
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    padding: 5px;
    text-transform: none;
    text-align: center;
    text-decoration: none;
    bottom: 15px;
    left: 0px;
    position: absolute;
    font-family: Lato;
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    color: #000; }

#more_items_content {
  width: 980px;
  margin: 0px auto; }

#promobox a.nspromoitem {
  width: 220px;
  margin: 10px;
  float: left;
  border: 1px solid #eaeaea; }

#more_items {
  text-align: center;
  border-bottom: 2px solid #eaeaea;
  margin-bottom: 15px !important; }

.brand-wrapper {
  width: 100%;
  position: relative;
  display: block;
  height: 500px;
  margin-bottom: 30px; }

.froopromoprice {
  color: #be202e !important;
  margin-bottom: 20px;
  font-size: 24p !important; }

.brands {
  display: block;
  position: relative;
  margin: 0px auto;
  width: 960px;
  padding: 0px;
  list-style: none; }
  .brands li {
    display: block;
    float: left;
    margin: 7px 0px;
    width: 192px; }
  .brands li:first-child {
    margin-left: 0px; }
  .brands li:last-child {
    margin-right: 0px; }
  .brands li:hover {
    opacity: 0.7; }
  .brands li img {
    max-width: 100%; }
  .brands::after {
    clear: both; }

#more_items {
  font-size: 0px; }
  #more_items:after {
    content: 'Featured Products';
    font-size: 24px;
    font-weight: 700;
    font-family: Nunito Sans, Arial, Helvetica, sans-serif;
    color: #000;
    text-align: center; }


#dummyrule {
	display:block;	
}

#gallery_outer_3 .mainimage img ,#gallery_outer_1 .mainimage img  {
    display: block;
	margin: 0px auto;
}

#promobox a.nspromoitem { text-align:center; }
#promobox a.nspromoitem img { max-width: 150px; max-height: 200px; }


/* Added 26.10.17 - styling for re-added category classes */
.boxlinks a.catlink {
	width: 100%;
}

.boxlinks a.sublink {
    padding-left: 12px;
	width: 100%;
}

.boxlinks a.thirdlvl {
    font-style: italic;
    padding-left: 15px;
	width: 100%;
}


#background #design div {
    width: 389px;
    height: 63px;
    background-image: url(https://s3.us-east-1.amazonaws.com/freedom_application_files/template_general_overrides/global_logo_2x.jpg);
}
